<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBywVQ1Mx5iY6aX3d3zI8eWYx5tv0s3gkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>214682291288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qualwebs.upace-ios</string>
	<key>PROJECT_ID</key>
	<string>upace-c86b2</string>
	<key>STORAGE_BUCKET</key>
	<string>upace-c86b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214682291288:ios:d99add3cc2efe0613b4e2d</string>
	<key>DATABASE_URL</key>
	<string>https://upace-c86b2-default-rtdb.firebaseio.com</string>
</dict>
</plist>